text {
    font-family: 'Courier New', Courier, monospace;
    font: bold 2.5rem monospace;
    fill: white;
}

.update {
    fill: #333;
}

.enter {
    fill: green;
}

.exit {
    fill: brown;
}

.container {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

