text {
    font: bold 48px monospace;
    fill: white;
}

.update {
    fill: #333;
}

.enter {
    fill: green;
}

.exit {
    fill: brown;
}

.container {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.showcase {
    display: flex;
    flex-direction: row;     
    justify-content: center;
    align-items: center;
    /* margin-top: 72px; */
}