svg {
  background-color: blanchedalmond;
}

svg rect {
  fill: red;
  fill-opacity: 0%;
  stroke-width: 4px;
  stroke: black;
  cursor: pointer;
}

div.control {
  padding-bottom: 2rem;
}

div.control button {
  border-radius: 0;
}